In [2]:
# import necessary libraries
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sqlite3
import sys
import shutil
from pathlib import Path

C:\Users\prith\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
#Download international football results from 1872 to 2017 dataset from kaggle
path = kagglehub.dataset_download("martj42/international-football-results-from-1872-to-2017")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\prith\.cache\kagglehub\datasets\martj42\international-football-results-from-1872-to-2017\versions\108

In [4]:
# List the tables in the international football results from 1872 to 2017 dataset
print(os.listdir(path))

['former_names.csv', 'goalscorers.csv', 'results.csv', 'shootouts.csv']

In [5]:
source_path = Path(path)
destination_path = Path("../data")

for file in source_path.glob("*.csv"):
    shutil.copy(file, destination_path / file.name)

print("Files moved to data folder.")

Files moved to data folder.

In [6]:
# Storing result table in a variabe result
results = pd.read_csv("../data/results.csv")
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [7]:
results.shape

(49071, 9)

In [8]:
results.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [9]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49071 entries, 0 to 49070
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        49071 non-null  object
 1   home_team   49071 non-null  object
 2   away_team   49071 non-null  object
 3   home_score  49071 non-null  int64
 4   away_score  49071 non-null  int64
 5   tournament  49071 non-null  object
 6   city        49071 non-null  object
 7   country     49071 non-null  object
 8   neutral     49071 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 3.0+ MB

In [10]:
# Storing goalscorers table in a variabe goalscorers
goalscorers = pd.read_csv("../data/goalscorers.csv")
goalscorers.head()

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False

In [11]:
goalscorers.shape

(47555, 8)

In [12]:
goalscorers.columns

Index(['date', 'home_team', 'away_team', 'team', 'scorer', 'minute',
       'own_goal', 'penalty'],
      dtype='object')

In [13]:
goalscorers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47555 entries, 0 to 47554
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       47555 non-null  object
 1   home_team  47555 non-null  object
 2   away_team  47555 non-null  object
 3   team       47555 non-null  object
 4   scorer     47507 non-null  object
 5   minute     47299 non-null  float64
 6   own_goal   47555 non-null  bool
 7   penalty    47555 non-null  bool
dtypes: bool(2), float64(1), object(5)
memory usage: 2.3+ MB

In [14]:
# Storing result table in a variabe result
shootouts = pd.read_csv("../data/shootouts.csv")
shootouts.head()

         date    home_team         away_team       winner first_shooter
0  1967-08-22        India            Taiwan       Taiwan           NaN
1  1971-11-14  South Korea  Vietnam Republic  South Korea           NaN
2  1972-05-07  South Korea              Iraq         Iraq           NaN
3  1972-05-17     Thailand       South Korea  South Korea           NaN
4  1972-05-19     Thailand          Cambodia     Thailand           NaN

In [15]:
shootouts.shape

(665, 5)

In [16]:
shootouts.columns

Index(['date', 'home_team', 'away_team', 'winner', 'first_shooter'], dtype='object')

In [17]:
shootouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           665 non-null    object
 1   home_team      665 non-null    object
 2   away_team      665 non-null    object
 3   winner         665 non-null    object
 4   first_shooter  240 non-null    object
dtypes: object(5)
memory usage: 26.1+ KB

In [18]:
path2 = kagglehub.dataset_download("joshfjelstul/world-cup-database")

print("Path to dataset files:", path2)

Path to dataset files: C:\Users\prith\.cache\kagglehub\datasets\joshfjelstul\world-cup-database\versions\1

In [19]:
# List the tables in the international football results from 1872 to 2017 dataset
print(os.listdir(path2))

['awards.csv', 'award_winners.csv', 'bookings.csv', 'confederations.csv', 'goals.csv', 'groups.csv', 'group_standings.csv', 'host_countries.csv', 'managers.csv', 'manager_appearances.csv', 'manager_appointments.csv', 'matches.csv', 'penalty_kicks.csv', 'players.csv', 'player_appearances.csv', 'qualified_teams.csv', 'referees.csv', 'referee_appearances.csv', 'referee_appointments.csv', 'squads.csv', 'stadiums.csv', 'substitutions.csv', 'teams.csv', 'team_appearances.csv', 'tournaments.csv', 'tournament_stages.csv', 'tournament_standings.csv']

In [20]:
source_path = Path(path2)
destination_path = Path("../data")

for file in source_path.glob("*.csv"):
    shutil.copy(file, destination_path / file.name)

print("Files moved to data folder.")

Files moved to data folder.

In [21]:
# Storing matches table in a variabe matches
matches = pd.read_csv("../data/matches.csv")
matches.head()

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0

In [22]:
matches.shape

(900, 37)

In [23]:
matches.columns

Index(['key_id', 'tournament_id', 'tournament_name', 'match_id', 'match_name',
       'stage_name', 'group_name', 'group_stage', 'knockout_stage', 'replayed',
       'replay', 'match_date', 'match_time', 'stadium_id', 'stadium_name',
       'city_name', 'country_name', 'home_team_id', 'home_team_name',
       'home_team_code', 'away_team_id', 'away_team_name', 'away_team_code',
       'score', 'home_team_score', 'away_team_score', 'home_team_score_margin',
       'away_team_score_margin', 'extra_time', 'penalty_shootout',
       'score_penalties', 'home_team_score_penalties',
       'away_team_score_penalties', 'result', 'home_team_win', 'away_team_win',
       'draw'],
      dtype='object')

In [24]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   key_id                     900 non-null    int64
 1   tournament_id              900 non-null    object
 2   tournament_name            900 non-null    object
 3   match_id                   900 non-null    object
 4   match_name                 900 non-null    object
 5   stage_name                 900 non-null    object
 6   group_name                 900 non-null    object
 7   group_stage                900 non-null    int64
 8   knockout_stage             900 non-null    int64
 9   replayed                   900 non-null    int64
 10  replay                     900 non-null    int64
 11  match_date                 900 non-null    object
 12  match_time                 900 non-null    object
 13  stadium_id                 900 non-null    object
 14  stadium_name               900 non-null    object
 15  city_name                  900 non-null    object
 16  country_name               900 non-null    object
 17  home_team_id               900 non-null    object
 18  home_team_name             900 non-null    object
 19  home_team_code             900 non-null    object
 20  away_team_id               900 non-null    object
 21  away_team_name             900 non-null    object
 22  away_team_code             900 non-null    object
 23  score                      900 non-null    object
 24  home_team_score            900 non-null    int64
 25  away_team_score            900 non-null    int64
 26  home_team_score_margin     900 non-null    int64
 27  away_team_score_margin     900 non-null    int64
 28  extra_time                 900 non-null    int64
 29  penalty_shootout           900 non-null    int64
 30  score_penalties            900 non-null    object
 31  home_team_score_penalties  900 non-null    int64
 32  away_team_score_penalties  900 non-null    int64
 33  result                     900 non-null    object
 34  home_team_win              900 non-null    int64
 35  away_team_win              900 non-null    int64
 36  draw                       900 non-null    int64
dtypes: int64(16), object(21)
memory usage: 260.3+ KB

In [25]:
# Storing players table in a variabe players
players = pd.read_csv("../data/players.csv")
players.head()

,key_id,player_id,family_name,given_name,birth_date,goal_keeper,defender,midfielder,forward,count_tournaments,list_tournaments,player_wikipedia_link
0,1,P-05074,A'Court,Alan,1934-09-30,0,0,0,1,1,1958,https://en.wikipedia.org/wiki/Alan_A%27Court
1,2,P-00942,Abadzhiev,Stefan,1934-07-03,0,0,0,1,1,1966,https://en.wikipedia.org/wiki/Stefan_Abadzhiev
2,3,P-03051,Abalo,Jean-Paul,1975-06-26,0,1,0,0,1,2006,https://en.wikipedia.org/wiki/Jean-Paul_Abalo
3,4,P-03371,Abanda,Patrice,1978-08-03,0,1,0,0,1,1998,https://en.wikipedia.org/wiki/Patrice_Abanda
4,5,P-04977,Abate,Ignazio,1986-11-12,0,1,0,0,1,2014,https://en.wikipedia.org/wiki/Ignazio_Abate

In [26]:
players.shape

(7907, 12)

In [27]:
players.columns

Index(['key_id', 'player_id', 'family_name', 'given_name', 'birth_date',
       'goal_keeper', 'defender', 'midfielder', 'forward', 'count_tournaments',
       'list_tournaments', 'player_wikipedia_link'],
      dtype='object')

In [28]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7907 entries, 0 to 7906
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   key_id                 7907 non-null   int64
 1   player_id              7907 non-null   object
 2   family_name            7907 non-null   object
 3   given_name             7907 non-null   object
 4   birth_date             7906 non-null   object
 5   goal_keeper            7907 non-null   int64
 6   defender               7907 non-null   int64
 7   midfielder             7907 non-null   int64
 8   forward                7907 non-null   int64
 9   count_tournaments      7907 non-null   int64
 10  list_tournaments       7907 non-null   object
 11  player_wikipedia_link  7907 non-null   object
dtypes: int64(6), object(6)
memory usage: 741.4+ KB

In [29]:
# Storing teams table in a variabe teams
teams = pd.read_csv("../data/teams.csv")
teams.head()

,key_id,team_id,team_name,team_code,federation_name,region_name,confederation_id,confederation_name,confederation_code,team_wikipedia_link,federation_wikipedia_link
0,1,T-01,Algeria,DZA,Algerian Football Federation,Africa,CF-2,Confederation of African Football,CAF,https://en.wikipedia.org/wiki/Algeria_national...,https://en.wikipedia.org/wiki/Algerian_Footbal...
1,2,T-02,Angola,AGO,Angolan Football Federation,Africa,CF-2,Confederation of African Football,CAF,https://en.wikipedia.org/wiki/Angola_national_...,https://en.wikipedia.org/wiki/Angolan_Football...
2,3,T-03,Argentina,ARG,Argentine Football Association,South America,CF-4,South American Football Confederation,CONMEBOL,https://en.wikipedia.org/wiki/Argentina_nation...,https://en.wikipedia.org/wiki/Argentine_Footba...
3,4,T-04,Australia,AUS,Football Australia,Oceania,CF-1,Asian Football Confederation,AFC,https://en.wikipedia.org/wiki/Australia_men%27...,https://en.wikipedia.org/wiki/Football_Australia
4,5,T-05,Austria,AUT,Austrian Football Association,Europe,CF-6,Union of European Football Associations,UEFA,https://en.wikipedia.org/wiki/Austria_national...,https://en.wikipedia.org/wiki/Austrian_Footbal...

In [30]:
teams.shape

(84, 11)

In [31]:
teams.columns

Index(['key_id', 'team_id', 'team_name', 'team_code', 'federation_name',
       'region_name', 'confederation_id', 'confederation_name',
       'confederation_code', 'team_wikipedia_link',
       'federation_wikipedia_link'],
      dtype='object')

In [32]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   key_id                     84 non-null     int64
 1   team_id                    84 non-null     object
 2   team_name                  84 non-null     object
 3   team_code                  84 non-null     object
 4   federation_name            84 non-null     object
 5   region_name                84 non-null     object
 6   confederation_id           84 non-null     object
 7   confederation_name         84 non-null     object
 8   confederation_code         84 non-null     object
 9   team_wikipedia_link        84 non-null     object
 10  federation_wikipedia_link  84 non-null     object
dtypes: int64(1), object(10)
memory usage: 7.3+ KB

In [33]:
# Storing goals table in a variabe goals
goals = pd.read_csv("../data/goals.csv")
goals.head()

,key_id,goal_id,tournament_id,tournament_name,match_id,match_name,match_date,stage_name,group_name,team_id,...,shirt_number,player_team_id,player_team_name,player_team_code,minute_label,minute_regulation,minute_stoppage,match_period,own_goal,penalty
0,1,G-0001,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,19',19,0,first half,0,0
1,2,G-0002,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,40',40,0,first half,0,0
2,3,G-0003,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,43',43,0,first half,0,0
3,4,G-0004,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,87',87,0,second half,0,0
4,5,G-0005,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-44,...,0,T-44,Mexico,MEX,70',70,0,second half,0,0

In [34]:
goals.shape

(2548, 27)

In [35]:
goals.columns

Index(['key_id', 'goal_id', 'tournament_id', 'tournament_name', 'match_id',
       'match_name', 'match_date', 'stage_name', 'group_name', 'team_id',
       'team_name', 'team_code', 'home_team', 'away_team', 'player_id',
       'family_name', 'given_name', 'shirt_number', 'player_team_id',
       'player_team_name', 'player_team_code', 'minute_label',
       'minute_regulation', 'minute_stoppage', 'match_period', 'own_goal',
       'penalty'],
      dtype='object')

In [36]:
goals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2548 entries, 0 to 2547
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key_id             2548 non-null   int64
 1   goal_id            2548 non-null   object
 2   tournament_id      2548 non-null   object
 3   tournament_name    2548 non-null   object
 4   match_id           2548 non-null   object
 5   match_name         2548 non-null   object
 6   match_date         2548 non-null   object
 7   stage_name         2548 non-null   object
 8   group_name         2548 non-null   object
 9   team_id            2548 non-null   object
 10  team_name          2548 non-null   object
 11  team_code          2548 non-null   object
 12  home_team          2548 non-null   int64
 13  away_team          2548 non-null   int64
 14  player_id          2548 non-null   object
 15  family_name        2548 non-null   object
 16  given_name         2548 non-null   object
 17  shirt_number       2548 non-null   int64
 18  player_team_id     2548 non-null   object
 19  player_team_name   2548 non-null   object
 20  player_team_code   2548 non-null   object
 21  minute_label       2548 non-null   object
 22  minute_regulation  2548 non-null   int64
 23  minute_stoppage    2548 non-null   int64
 24  match_period       2548 non-null   object
 25  own_goal           2548 non-null   int64
 26  penalty            2548 non-null   int64
dtypes: int64(8), object(19)
memory usage: 537.6+ KB

In [37]:
# Download weather data from kaggle
path3 = kagglehub.dataset_download("tombliss/weather-data")

print("Path to dataset files:", path3)

Path to dataset files: C:\Users\prith\.cache\kagglehub\datasets\tombliss\weather-data\versions\1

In [38]:
# List of tables from weather data
print(os.listdir(path3))

['games.csv', 'games_weather.csv', 'stadium_coordinates.csv']

In [39]:
source_path = Path(path3)
destination_path = Path("../data")

for file in source_path.glob("*.csv"):
    shutil.copy(file, destination_path / file.name)

print("Files moved to data folder.")

Files moved to data folder.

In [40]:
# store all the tables from the weather data in the variable weather
weather = []
for i in os.listdir(path3):
  df = pd.read_csv(path3 + '/' + i)
  weather.append(df)

weather = pd.concat(weather, axis=0, ignore_index=True)
weather.head()

,game_id,Season,StadiumName,TimeStartGame,TimeEndGame,TZOffset,Source,DistanceToStation,TimeMeasure,Temperature,...,Precipitation,WindSpeed,WindDirection,Pressure,EstimatedCondition,HomeTeam,RoofType,Longitude,Latitude,StadiumAzimuthAngle
0,2.000090e+09,2000.0,Giants Stadium,9/3/2000 13:00,9/3/2000 16:40,-4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.000090e+09,2000.0,Three Rivers Stadium,9/3/2000 13:00,9/3/2000 15:58,-4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.000090e+09,2000.0,FedExField,9/3/2000 13:00,9/3/2000 16:04,-4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.000090e+09,2000.0,U.S. Bank Stadium,9/3/2000 12:00,9/3/2000 15:08,-5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.000090e+09,2000.0,Mercedes-Benz Superdome,9/3/2000 12:00,9/3/2000 15:12,-5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
weather.shape

(42807, 22)

In [42]:
weather.columns

Index(['game_id', 'Season', 'StadiumName', 'TimeStartGame', 'TimeEndGame',
       'TZOffset', 'Source', 'DistanceToStation', 'TimeMeasure', 'Temperature',
       'DewPoint', 'Humidity', 'Precipitation', 'WindSpeed', 'WindDirection',
       'Pressure', 'EstimatedCondition', 'HomeTeam', 'RoofType', 'Longitude',
       'Latitude', 'StadiumAzimuthAngle'],
      dtype='object')

In [43]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42807 entries, 0 to 42806
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   game_id              42748 non-null  float64
 1   Season               5593 non-null   float64
 2   StadiumName          5652 non-null   object
 3   TimeStartGame        5593 non-null   object
 4   TimeEndGame          5593 non-null   object
 5   TZOffset             5593 non-null   float64
 6   Source               37155 non-null  object
 7   DistanceToStation    35512 non-null  float64
 8   TimeMeasure          37155 non-null  object
 9   Temperature          37154 non-null  float64
 10  DewPoint             37154 non-null  float64
 11  Humidity             37154 non-null  float64
 12  Precipitation        34587 non-null  float64
 13  WindSpeed            37154 non-null  float64
 14  WindDirection        32384 non-null  float64
 15  Pressure             37134 non-null  float64
 16  EstimatedCondition   34587 non-null  object
 17  HomeTeam             59 non-null     object
 18  RoofType             59 non-null     object
 19  Longitude            59 non-null     float64
 20  Latitude             59 non-null     float64
 21  StadiumAzimuthAngle  59 non-null     float64
dtypes: float64(14), object(8)
memory usage: 7.2+ MB

In [44]:
# connect to sqlite database "fifa_prediction.sqlite"
conn = sqlite3.connect('fifa26_prediction.sqlite')

In [45]:
# Create results, fifa_ranking, players and weather tables and import data into it
results.to_sql('results', conn, if_exists='replace', index=False)
goalscorers.to_sql('goalscorers', conn, if_exists='replace', index=False)
shootouts.to_sql('shootouts', conn, if_exists='replace', index=False)
matches.to_sql('matches', conn, if_exists='replace', index=False)
players.to_sql('players', conn, if_exists='replace', index=False)
teams.to_sql('teams', conn, if_exists='replace', index=False)
goals.to_sql('goals', conn, if_exists='replace', index=False)
weather.to_sql('weather', conn, if_exists='replace', index=False)

42807

In [46]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

          name
0      results
1  goalscorers
2    shootouts
3      matches
4      players
5        teams
6        goals
7      weather

In [47]:
for t in ["results","goalscorers","matches","shootouts","players","teams","goals","weather"]:
    cols = pd.read_sql(f"PRAGMA table_info({t});", conn)
    print("\n", t)
    print(cols[["name","type"]])

 results
         name     type
0        date     TEXT
1   home_team     TEXT
2   away_team     TEXT
3  home_score  INTEGER
4  away_score  INTEGER
5  tournament     TEXT
6        city     TEXT
7     country     TEXT
8     neutral  INTEGER

 goalscorers
        name     type
0       date     TEXT
1  home_team     TEXT
2  away_team     TEXT
3       team     TEXT
4     scorer     TEXT
5     minute     REAL
6   own_goal  INTEGER
7    penalty  INTEGER

 matches
                         name     type
0                      key_id  INTEGER
1               tournament_id     TEXT
2             tournament_name     TEXT
3                    match_id     TEXT
4                  match_name     TEXT
5                  stage_name     TEXT
6                  group_name     TEXT
7                 group_stage  INTEGER
8              knockout_stage  INTEGER
9                    replayed  INTEGER
10                     replay  INTEGER
11                 match_date     TEXT
12                 match_time     TEXT
13                 stadium_id     TEXT
14               stadium_name     TEXT
15                  city_name     TEXT
16               country_name     TEXT
17               home_team_id     TEXT
18             home_team_name     TEXT
19             home_team_code     TEXT
20               away_team_id     TEXT
21             away_team_name     TEXT
22             away_team_code     TEXT
23                      score     TEXT
24            home_team_score  INTEGER
25            away_team_score  INTEGER
26     home_team_score_margin  INTEGER
27     away_team_score_margin  INTEGER
28                 extra_time  INTEGER
29           penalty_shootout  INTEGER
30            score_penalties     TEXT
31  home_team_score_penalties  INTEGER
32  away_team_score_penalties  INTEGER
33                     result     TEXT
34              home_team_win  INTEGER
35              away_team_win  INTEGER
36                       draw  INTEGER

 shootouts
            name  type
0           date  TEXT
1      home_team  TEXT
2      away_team  TEXT
3         winner  TEXT
4  first_shooter  TEXT

 players
                     name     type
0                  key_id  INTEGER
1               player_id     TEXT
2             family_name     TEXT
3              given_name     TEXT
4              birth_date     TEXT
5             goal_keeper  INTEGER
6                defender  INTEGER
7              midfielder  INTEGER
8                 forward  INTEGER
9       count_tournaments  INTEGER
10       list_tournaments     TEXT
11  player_wikipedia_link     TEXT

 teams
                         name     type
0                      key_id  INTEGER
1                     team_id     TEXT
2                   team_name     TEXT
3                   team_code     TEXT
4             federation_name     TEXT
5                 region_name     TEXT
6            confederation_id     TEXT
7          confederation_name     TEXT
8          confederation_code     TEXT
9         team_wikipedia_link     TEXT
10  federation_wikipedia_link     TEXT

 goals
                 name     type
0              key_id  INTEGER
1             goal_id     TEXT
2       tournament_id     TEXT
3     tournament_name     TEXT
4            match_id     TEXT
5          match_name     TEXT
6          match_date     TEXT
7          stage_name     TEXT
8          group_name     TEXT
9             team_id     TEXT
10          team_name     TEXT
11          team_code     TEXT
12          home_team  INTEGER
13          away_team  INTEGER
14          player_id     TEXT
15        family_name     TEXT
16         given_name     TEXT
17       shirt_number  INTEGER
18     player_team_id     TEXT
19   player_team_name     TEXT
20   player_team_code     TEXT
21       minute_label     TEXT
22  minute_regulation  INTEGER
23    minute_stoppage  INTEGER
24       match_period     TEXT
25           own_goal  INTEGER
26            penalty  INTEGER

 weather
                   name  type
0               game_id  REAL
1                Season  REAL
2           StadiumName  TEXT
3         TimeStartGame  TEXT
4           TimeEndGame  TEXT
5              TZOffset  REAL
6                Source  TEXT
7     DistanceToStation  REAL
8           TimeMeasure  TEXT
9           Temperature  REAL
10             DewPoint  REAL
11             Humidity  REAL
12        Precipitation  REAL
13            WindSpeed  REAL
14        WindDirection  REAL
15             Pressure  REAL
16   EstimatedCondition  TEXT
17             HomeTeam  TEXT
18             RoofType  TEXT
19            Longitude  REAL
20             Latitude  REAL
21  StadiumAzimuthAngle  REAL

In [48]:
# Clean results dataset
results["date"] = pd.to_datetime(results["date"], errors="coerce")
results["neutral"] = results["neutral"].astype(int)

# drop rows where date failed to parse
results = results.dropna(subset=["date"])

# Overwrite the existing table
results.to_sql("results", conn, if_exists="replace", index=False)

49071

In [49]:
pd.read_sql("PRAGMA table_info(results);", conn)

   cid        name       type  notnull dflt_value  pk
0    0        date  TIMESTAMP        0       None   0
1    1   home_team       TEXT        0       None   0
2    2   away_team       TEXT        0       None   0
3    3  home_score    INTEGER        0       None   0
4    4  away_score    INTEGER        0       None   0
5    5  tournament       TEXT        0       None   0
6    6        city       TEXT        0       None   0
7    7     country       TEXT        0       None   0
8    8     neutral    INTEGER        0       None   0

In [50]:
# Sort by date
results = results.sort_values("date").reset_index(drop=True)

# Add match_id
results["match_id"] = results.index + 1

# Save back to SQLite
results.to_sql("results", conn, if_exists="replace", index=False)

# Verify
pd.read_sql("SELECT match_id, date, home_team, away_team FROM results LIMIT 5;", conn)

   match_id                 date home_team away_team
0         1  1872-11-30 00:00:00  Scotland   England
1         2  1873-03-08 00:00:00   England  Scotland
2         3  1874-03-07 00:00:00  Scotland   England
3         4  1875-03-06 00:00:00   England  Scotland
4         5  1876-03-04 00:00:00  Scotland   England